*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
.button {
    font-size: 24px;
    font-weight: 400;
    width: 60%;
    margin-top: 24px;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgb(160, 119, 201);
    touch-action: manipulation;

  }
 .tou{
      text-decoration: none;
  }
  .pp{
      text-decoration: none;
  }
  
